@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.animation-menu{
  animation: mymove 0.9s ;

}
.slide-up{
  animation: mymoves 0.9s ;

}
@keyframes mymove {
  from {bottom: 1rem;}
  /* 50% {top: -1.5rem !important;}  */
  to {bottom: 3rem;}
}
@keyframes mymoves {
  to {top: -4rem;}
  /* 50% {top: -1.5rem !important;}  */
  from {top: -2.5rem;}
}

/* input:-webkit-autofill {
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text !important;
    transition: background-color 5000s ease-in-out 0s !important;
    box-shadow: inset 0 0 20px 20px #d1d5db4f !important;
}
/* For Firefox */
input:-moz-autofill {
  -moz-box-shadow: 0 0 0 1000px white inset !important;
  -moz-text-fill-color: inherit !important;
}